/*

Icons
========================================
All icon sizes  are defined here
Put mask size on element

<img.icon.icon-128

*/

//
//
//  Icon Sizes
//  ----------------------------------------
//  $icon-sizes list defined in _variables.scss
//
@each $icon-size in $icon-sizes {
    .icon-#{$icon-size} {
        width: #{$icon-size}px;
        height: #{$icon-size}px;
        display: block;
    }
}


//
//
//  Icon
//  ----------------------------------------
//
.icon {

    //
    //  List Icons (Index)
    //  -------------------
    .list-icons & {
        // Icon in this list is 128px;
        // 128/2 = 64px
        position: absolute;
        margin: round($list-icon-size / -2) auto 0 round($list-icon-size / -2);
        top: 50%;
        left: 50%;
    }
}