//
//
//  Page Title
//  ----------------------------------------
//  Main H1 on each page
//
.page-title,
.no-posts {
    font-size: 3em;
    //margin: 1.5em 0 .5em;
    //text-align: center;
    line-height: 1.1em;
    color: $color-dark-gray;
    letter-spacing: -1px;

    a {
        color: $color-dark-gray;

        &:hover {
            color: $color-link;
        }
    }
}

.no-posts {
    margin-bottom: 3em;
}