# ------------------------------
# Submodule .gitignore
# ------------------------------
# Should ignore all files irrelevant to this directory specifically.

.DS_Store
node_modules
npm-debug.log
package-lock.json
build
src/www/icons/
