# ------------------------------
# Submodule .gitignore
# ------------------------------
# Should ignore all files irrelevant to this directory specifically.

.DS_Store
node_modules
package-lock.json
