# Files/folders to exclude
*.sass-cache
public/dist
*.pyc
node_modules
*.DS_Store

# Exclude content folders for each site
public/src/iosicongallery
public/src/macicongallery
public/src/applewatchicongallery
