</main>
  <footer id="footer">
    <ul>
      <li><a href="/search/">Search</a></li>
      <li><a href="/feed.rss">RSS Feed</a></li>
      <li><a href="/feed.json">JSON Feed</a></li>
      <li><a href="https://twitter.com/icongalleries/">Twitter</a></li>
      <li><p>Designed, developed, and curated by <a href="https://www.jim-nielsen.com/">Jim Nielsen</a> (a.k.a <a href="https://twitter.com/jimniels/">@jimniels</a> on twitter).</p></li>
    </ul>
  </footer>

  <!-- Scripts for all pages -->
  <script type="text/javascript" src="/assets/scripts/global.js"></script>

  <!-- Google Analytics -->
  <script>
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', '<%- site.googleAnalyticsKey %>', 'auto');
    ga('send', 'pageview');
  </script>

  <!-- Development script -->
  <% if (__DEV__) { %>
    <script src="http://localhost:35729/livereload.js"></script>
  <% } %>
</body>
</html>