<%#
  strip icongallery from the id and output.
  @param {string} id - corresponds to `site.themeId`
%>
<span class="site-title-id"><%- id.replace("os", "OS") %></span> <span class="site-title-description">Icon Gallery</span>