---
layout: default
permalink: /404.html
---

<div class="page-not-found">
  <img
    src="/{{ site.assets.images }}/404.svg"
    alt="404 page not found"
    width="400"
    height="160"
  />
  <h1>
    Page Not Found
  </h1>
  <p>
    Sorry, but it appears that whatever you’re looking for does not exist.
  </p>
  <p>
    Check out some icons while you’re here.
  </p>
</div>

<ul class="icon-list">
  {% assign posts = site.posts | sample: 60 %}
  {% for post in posts %}
    {% include icon-list-item.html.liquid post=post %}
  {% endfor %}
</ul>

