---
layout: default
title: Search
---
<div class="search-header">

    <form id="form" class="filter-val">
        <!-- Keyword -->
        <input id="search" type="text" placeholder="Keyword..." autocomplete="off" autocorrect="off" spellcheck="false" />

        <!-- Category -->
        <select id="category" class="filter-val">
            <option value="">Categories...</option>
            {% for category in site.data.categories %}
                <option value="{{ category.id }}">{{ category.name }}</option>
            {% endfor %}
        </select>

        <!-- Tags -->
        <select id="tags" class="filter-val">
            <option value="">Colors...</option>
            <!-- capture tags (must be on single line) -->
            {% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
            <!-- sort tags alphabetically -->
            {% assign site_tags = site_tags | split:',' | sort %}
            <!-- output site_tags (site.tags would require tag | first | strip) -->
            {% for tag in site_tags %}
                <option value="{{ tag | strip }}">{{ tag | capitalize }}</option>
            {% endfor %}
        </select>
    </form>    

    {% comment %}
    <select id="icon-designer" class="filter-val">
        <option value="null">Choose a designer...</option>

        <!-- Get posts and sort alphabetically by designer -->
        {% assign sortedPosts = site.posts | sort: 'icon-designer' %}

        <!-- Capture all designers with "|" separator -->
        {% capture listDesigners %}{% for post in sortedPosts %}{%if post.icon-designer%}{{post.icon-designer}}|{%endif%}{%endfor%}{%endcapture%}

        <!-- Split designers into array, remove duplicates, loop over them -->
        {% assign arrayDesigners = listDesigners | split:"|" %}
        {% assign arrayDesigners = arrayDesigners | remove_duplicates %}
        {% for designer in arrayDesigners %}
            <option value="{{ designer }}">{{ designer }}</option>
        {%endfor%}
    </select>
    

    <form id="icon-designer" class="filter-val">
        <input type="text" placeholder="Search by Icon Designer" list="icon-designer-list"/>
        <datalist id="icon-designer-list">
            <option value="Internet Explorer">
            {% for post in site.posts %}
                {% if post.icon-designer %}
                    <option value="{{ post.icon-designer }}">
                {% endif %}
            {% endfor %}
        </datalist>
    </form>
    {% endcomment %}

    <span class="search-header__count"></span>

</div>

<ul class="list-icons">
    <li class="list-icons__zero-state">Find icons by keyword, category, and color.</li>
</ul>

<a href="#" class="show-more" style="display: none">
    Show more&hellip;
</a>

<script id="list-icons-template" type="x-tmpl-mustache">
{% raw %}{{ #icons }}{% endraw %}
    <li>
        <a href="{{ site.baseurl }}/{% raw %}{{ link }}{% endraw %}" class="icon-container" title="{% raw %}{{ title }}{% endraw %}">
            <img
                 alt="{% raw %}{{ title }}{% endraw %} app icon"
                 class="icon icon-128"
                 src="{{ site.baseurl }}/{{ site.theme.active }}/img/128/{% raw %}{{ icon }}{% endraw %}.png"
                 data-at2x="{{ site.baseurl }}/{{ site.theme.active }}/img/256/{% raw %}{{ icon }}{% endraw %}.png"
            />

            {% if site.theme.active == 'iosicongallery' %}
                <span class="mask mask-128"></span>
            {% endif %}
        </a>
    </li>
{% raw %}{{ /icons }}{% endraw %}
</script>
<script id="list-icons-zero-template" type="x-tmpl-mustache">
    <li class="list-icons__zero-state">
        No results.
    </li>
</script>

<script type="text/javascript" src="{{ site.baseurl }}/{{ site.assets.scripts }}/jquery.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/{{ site.assets.scripts }}/mustache.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/{{ site.assets.scripts }}/fuse.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/{{ site.assets.scripts }}/custom.js"></script>
