---
layout: default
title: Search
---
<style>
    .filter-val {
        display: none;
    }
</style>
<div class="search-header">
    Show me icons according to:

    <select id="browse-type" class="filter-key">
        <option value="search">Search term</option>
        <option value="category">Category</option>
        <option value="tags">Color</option>
        <!--
        <option value="icon-designer">Designer</option>
        <option value="app-developer">Developer</option>
        -->
    </select>

    <form id="search" class="filter-val">
        <input type="text" placeholder="Search by App Title" />
    </form>

    <select id="category" class="filter-val">
        <option value="null">Choose a category...</option>
        {% for category in site.data.categories %}
            <option value="{{ category.slug }}">{{ category.nicename }}</option>
        {% endfor %}
    </select>

    <select id="tags" class="filter-val">
        <option value="null">Choose a color...</option>
        <!-- capture tags (must be on single line) -->
        {% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
        <!-- sort tags alphabetically -->
        {% assign site_tags = site_tags | split:',' | sort %}
        <!-- output site_tags (site.tags would require tag | first | strip) -->
        {% for tag in site_tags %}
            <option value="{{ tag | strip }}">{{ tag | capitalize }}</option>
        {% endfor %}
    </select>

    <select id="icon-designer" class="filter-val">
        <option value="null">Choose a designer...</option>
        {% for designer in site.data.designers %}
            <option value="{{ designer.slug }}">{{ designer.nicename }}</option>
        {% endfor %}
    </select>
</div>

<ul class="list-icons">
</ul>

<a href="#" class="show-more" style="display: none">
    Show more&hellip;
</a>

<script id="list-icons-template" type="x-tmpl-mustache">
{% raw %}{{ #icons }}{% endraw %}
    <li>
        <a href="{{ site.baseurl }}/{% raw %}{{ link }}{% endraw %}" class="icon-container" title="{% raw %}{{ title }}{% endraw %}">
            <img
                 alt="{% raw %}{{ title }}{% endraw %} app icon"
                 class="icon icon-128"
                 src="{{ site.baseurl }}/{{ site.theme.active }}/img/128/{% raw %}{{ icon }}{% endraw %}.png"
                 data-at2x="{{ site.baseurl }}/{{ site.theme.active }}/img/256/{% raw %}{{ icon }}{% endraw %}.png"
            />

            {% if site.theme.active == 'iosicongallery' %}
                <span class="mask mask-128"></span>
            {% endif %}
        </a>
    </li>
{% raw %}{{ /icons }}{% endraw %}
</script>
<script id="list-icons-zero-template" type="x-tmpl-mustache">
    <li class="list-icons__zero-state">
        No results.
    </li>
</script>

<script type="text/javascript" src="{{ site.baseurl }}/{{ site.assets.scripts }}/jquery.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/{{ site.assets.scripts }}/mustache.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/{{ site.assets.scripts }}/fuzzySet.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/{{ site.assets.scripts }}/custom.js"></script>
