---
layout: default
---

{% assign post = page %}

<div class="post">
  <div class="post-icons">
    {% comment %}
      If it has the `is-missing-512-icon` tag, that means a 512 sized icon cannot be
      guaranteed but 256 can, so we use that (likely only watchOS icons). Otherwise,
      512 size can be guaranteed so we use that (likely macOS and iOS).
    {% endcomment %}

    {% if post.is-missing-512-icon %}
      {% capture iconSrc %}{% include icon-src.html.liquid size="256" post=post %}{% endcapture %}
    {% else %}
      {% capture iconSrc %}{% include icon-src.html.liquid size="512" post=post %}{% endcapture %}
    {% endif %}

    {% include icon-post.html.liquid post=post iconSrc=iconSrc size="512" %}
    {% include icon-post.html.liquid post=post iconSrc=iconSrc size="256" %}
    {% include icon-post.html.liquid post=post iconSrc=iconSrc size="128" %}
    {% include icon-post.html.liquid post=post iconSrc=iconSrc size="64" %}
  </div>

  <div class="post-meta">
    <div class="post-meta__content">
      <h1>{{ post.title }}</h1>

      <dl>
        <!-- Icon Designer -->
        {% if post.icon-designer %}
          <dt>Designer</dt>
          <dd>
            <a href="/search/?designer={% include id-ify.html.liquid value=post.icon-designer %}">
              {{ post.icon-designer }}
            </a>
              
            {% if post.icon-designer-url %}
              (<a href="{{ post.icon-designer-url }}" class="external-link">{{ post.icon-designer-url | replace: "http://", "" | replace: "https://", "" | replace: "www.", "" }}</a>)
            {% endif %}
          </dd>
        {% endif %}

        <!-- App Developer -->
        {% if post.app-developer %}
          <dt>Developer</dt>
          <dd>
            <a href="/search/?developer={% include id-ify.html.liquid value=post.app-developer %}">{{ post.app-developer }}</a>
            
            {% if post.app-developer-url %}
              {% comment %} All these filters help me get just the domain of the URL {% endcomment %}
              (<a href="{{ post.app-developer-url }}" class="external-link">{{ post.app-developer-url | replace: "http://", "" | replace: "https://", "" | replace: "www.", "" | url_encode | split: "%2F" | first }}</a>)
            {% endif %}
          </dd>
        {% endif %}

        <!-- Category -->
        {% if post.category %}
          <dt>Category</dt>
          <dd>
            <a href="/search/?category={{ post.category }}">
              {{ site.data.categories[post.category] }}
            </a>
          </dd>
        {% endif %}

        <!-- Tags -->
        {% if post.tags.size > 0 %}
          <dt>
            Color
            {%- if post.tags.size > 1 -%}
              s
            {%- endif -%}
          </dt>
          <dd>
            {% for tag in post.tags %}
              <a href="/search/?color={{ tag }}">{{ tag }}</a>{% if forloop.last != true %},{% endif %}
            {% endfor %}
          </dd>
        {% endif %}

        <!-- Post Date -->
        {% if post.date %}
          <dt>Posted</dt>
          <dd>{{ post.date | date: "%b %d, %Y" }}</dd>
        {% endif %}


        <dt>iTunes <!-- @TODO mac app store or what not --></dt>
        <!-- Add query string `?at=XXXX` for affliate linking -->
        <dd>
          <a href="{{ post.itunes-url }}?at=1l3vtCx">
            <img
              src="/{{ site.assets.images }}/download-on-app-store.svg"
              width="120"
              height="40"
              style="margin-top: 5px;"
            />
          </a>
        </dd>
      </dl>
    </div>

    <!-- Ad -->
    <div class="post-meta__ad">
      {% include ad.html.liquid %}
    </div>
  </div>
</div>


<aside class="related-posts">
  
  <!-- Designer -->
  {% assign designerPosts = site.posts
    | where: "icon-designer", post.icon-designer
    | where_exp: "item", "item.title != post.title" %}
  {% capture designerQueryValue %}{% include id-ify.html.liquid value=designerPosts.first.icon-designer %}{% endcapture %}
  {% include related-posts.html.liquid
      queryKey="designer"
      queryValue=designerQueryValue
      currentPost=post
      relatedPosts=designerPosts
      headingPrefix="More from the designer"
      headingValue=post.icon-designer %}
  
  <!-- Color -->
  {% assign colorPosts = site.posts
    | where: "tags", post.tags.first
    | where_exp: "item", "item.title != post.title" %}
  {% include related-posts.html.liquid
      queryKey="color"
      queryValue=colorPosts.first.tags.first
      currentPost=post
      relatedPosts=colorPosts
      headingPrefix="More of the color"
      headingValue=post.tags.first %}

  <!-- Developer -->
  {% assign developerPosts = site.posts
    | where: "app-developer", post.app-developer
    | where_exp: "item", "item.title != post.title" %}
  {% capture developerQueryValue %}{% include id-ify.html.liquid value=developerPosts.first.app-developer %}{% endcapture %}
  {% include related-posts.html.liquid
      queryKey="developer"
      queryValue=developerQueryValue
      currentPost=post
      relatedPosts=developerPosts
      headingPrefix="More from the developer"
      headingValue=post.app-developer %}

  <!-- Category -->
  {% assign categoryPosts = site.posts
    | where: "category", post.category
    | where_exp: "item", "item.title != post.title" %}
  {% capture headingValueCategory %}{{ site.data.categories[post.category] }}{% endcapture %}
  {% include related-posts.html.liquid
      queryKey="category"
      queryValue=categoryPosts.first.category
      currentPost=post
      relatedPosts=categoryPosts
      headingPrefix="More from the category"
      headingValue=headingValueCategory %}
</aside>

