/*
    ======================================================================
    General
    ======================================================================
*/

html {
  box-sizing: border-box;
}
*, 
*:before, 
*:after {
  box-sizing: inherit;
}

body {
    font: #{$font-size-base}px/1.5 $font-family;
    color: $color-dark-gray;
    //-webkit-font-smoothing: antialiased;
}

.wrapper {
    margin: 0 auto;
    width: 90%;
    max-width: em(1300);
}

#main {
    margin-bottom: 4em;
}

a {
    color: $color-link;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

b,
strong,
em,
.bold {
    font-weight: bold;
}

// Placed on empty elements only
.loading {
    display: block;
    border: 1px solid $color-border-light;
    background: url('#{$url-img}/loading.gif') no-repeat 50%;
    background-size: 20px 20px;
    min-height: em(100);
}

//
//
//  Sections
//  ----------------------------------------
//  Each section that has bottom-margins
//
.index .icon-list,
.module,
.icon-meta {
    margin-bottom: 5em;
}

//
//
//  Header
//  ----------------------------------------
//
.single .header {
    margin-bottom: 3em;
}