<!-- Home Page Template -->

<!-- Icon List -->
<ul class="list-icons">
  {% for post in paginator.posts %}
    <!-- If it's the second post, show the ad AND the current post -->
    {% if forloop.index0 == 1 and site.theeme.ad_script %}
      <li>
        <div class="icon-container icon-container--ad">
          {{ site.theeme.ad_script }}
        </div>
      </li>
    {% endif %}
    <li>
      <a class="icon-container" href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}">
        {% include icon.html icon-size="128" %}
      </a>
    </li>
  {% endfor %}
</ul>

<!-- Pagination -->
<nav class="pagination">

  {% capture paginatorURL %}{{ site.baseurl | append:'/p' }}{% endcapture %}

  <!-- Prev -->
  {% if paginator.previous_page %}
    <a href="{{ paginatorURL }}/{{ paginator.page | minus:'1' }}" class="pagination__button">Prev</a>
  {% else %}
    <span class="pagination__button">Prev</span>
  {% endif %}

  <!-- Page X of Y -->
  <!-- @TODO if has js, show/hide <select> -->
  <p class="pagination__jump-to">
    
    Page

    <select onchange="myFunc()" id="paginator-select">
      {% for i in (1..paginator.total_pages) %}
        <option {% if i == paginator.page %}selected="selected"{% endif %}>
          {{ i }}
        </option>
      {% endfor %}
    </select>
    <script>
      function myFunc() {
        var value = document.getElementById("paginator-select").value;
        // If it's not 1, go to it. Otherwise, it's the home page (i.e. "1").
        if (value > 1) {
          window.location.href = window.location.origin + '/p/' + value;
        } else {
          window.location.href = window.location.origin;
        }
      }
    </script>

    of {{ paginator.total_pages }}
  </p>

  <!-- Next -->
  {% if paginator.next_page %}
    <a href="{{ paginatorURL }}/{{ paginator.page | plus:'1' }}" class="pagination__button">Next</a>
  {% else %}
    <span class="pagination__button">Next</span>
  {% endif %}
</nav>
