/*
    ======================================================================
    Ad Styles
    ======================================================================
    Styles for the ads.
    Ads appear only in .icon-container lists

    Simply do <li.icon-container.ad-container
*/
.icon-container--ad {
    text-align: center;

    // Ads on individual pages
    .list-icons--featured & {
        padding: 10px 0 10px 10px;
        width: 250px;
        height: 200px;
        top: initial;
        left: initial;
        right: 0;
        bottom: -200px;
        border: 0;
        text-align: right; /* changes on mobile */

        &:hover {
            box-shadow: 0;
        }

        @include respond-to(tablet) {
            width: 100%;
            text-align: center;
            bottom: -200px;
            border: 1px solid $color-border-light;
            
            #carbonads {
                padding-top: 0;
                margin: 0;
                height: auto;
                margin: 0 auto;
                width: 90%;
                top: initial;
                left: initial;
                position: relative;
            }
        }
    }
}


#carbonads {
    font-size: 13px;
    color: $color-dark-gray;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -125px 0 0 -125px;
    width: 250px;
    height: 250px;
    padding-top: 15%;

    a {
        color: inherit;
    }

    .carbon-text {
        display: block;
    }

    .carbon-poweredby {
       font-size: 11px;
       color: $color-light-gray;
    }

}
