/*

Icons List
========================================
Used when listing icons
    - Index (home page)
    - Related Icons
    - Search Results

<ul class="list-icons"
    <li
        <a class="icon-container icon-container--mask"
            <img class="icon icon-175"
            <span class="sprite sprite-mask-175"

*/

.list-icons {
    @include clearfix;
    border-left: 1px solid $color-border-light;
    border-top: 1px solid $color-border-light;

    .index & {
        margin-bottom: 6em;
    }

    // List items
    li {
        float: left;
        // loading gif shows through on transparent PNGs mac
        //background: url(/assets/img/loading.gif) no-repeat 50%;
        width: 25%;

        @include respond-to(desktop) {
            width: 33.333%;
        }
        @include respond-to(tablet) {
            width: 50%;
        }
        @include respond-to(mobile) {
            width: 100%;
        }
    }

    .icon-container {
        position: relative;
        display: block;
        border-right: 1px solid $color-border-light;
        border-bottom: 1px solid $color-border-light;
        padding-bottom: 100%;

        @include respond-to(desktop) {
            padding-bottom: 85%;
        }
        @include respond-to(tablet) {
            padding-bottom: 75%;
        }
        @include respond-to(mobile) {
            padding-bottom: 65%;
        }

        &:hover {
            box-shadow: inset 0 0 30px rgba(0,0,0,.065);
        }

        &--ad:hover {
            box-shadow: none;
        }
    }
}

.list-icons--featured {
    position: relative;
    width: 100%;
    padding-bottom: 61.8034%;
    border: 1px solid $color-border-light;
    text-align: center;

    .watchosicongallery & {
      padding-bottom: 51.8034%;
    }

    [class*="icon-container"] {
        position: absolute;
    }

    // For ios and mac icon galleries
    .icon-container-xlg {
        top: 0;
        left: 0;
        width: 61.8034%;
        height: 100%;
        border-right: 1px solid $color-border-light;
    }

    .icon-container-lg {
        top: 0;
        left: 61.8034%;
        width: (100 - 61.8034%);
        height: 61.8034%;
        border-bottom: 1px solid $color-border-light;
    }

    .icon-container-md {
        top: 61.8034%;
        left: 61.8034%;
        width: (100 - 61.8034) * (.618034%);
        height: (100 - 61.8034%);
        border-right: 1px solid $color-border-light;
        border-bottom: 0;
    }

    .icon-container-sm {
        top: 61.8034%;
        right: 0%;
        width: (100 - 61.8034) * (1 - .618034%);
        height: (100 - 61.8034%);
    }

    .icon {
        position: absolute;
        top: 50%;
        left: 50%;
    }

    @each $icon-size in $icon-sizes {
        .icon-#{$icon-size} {
            margin-top: -#{$icon-size / 2}px;
            margin-left: -#{$icon-size / 2}px;
        }
    }

    // Breakpoints
    @include respond-to(desktop) {
        padding-bottom: 111.8034%;

        .watchosicongallery & {
          padding-bottom: 91.8034%;
        }

        .icon-container-xlg {
            top: 0;
            left: 0;
            width: 100%;
            height: 61.8034%;
            border: 0;
            border-bottom: 1px solid $color-border-light;
        }

        .icon-container-lg {
            top: 61.8034%;
            left: 0;
            width: 61.8034%;
            height: (100 - 61.8034%);
            border: 0;
            border-right: 1px solid $color-border-light;
        }

        .icon-container-md {
            top: 61.8034%;
            left: 61.8034%;
            width: (100% - 61.8034);
            height: (100 - 61.8034) * (.618034%);
            border: 0;
            border-bottom: 1px solid $color-border-light;
        }

        .icon-container-sm {
            top: inherit;
            bottom: 0;
            right: 0;
            width: (100% - 61.8034);
            height: (100 - 61.8034) * (1 - .618034%);
        }

        .icon-container--ad {
            text-align: center;
            width: 100%;
            border: 1px solid $color-border-light;
            border-top: 0;
            padding: 20px 10px 10px;
        }
    }

    @include respond-to(tablet) {
        padding-bottom: 161.8034%;

        .watchosicongallery & {
          padding-bottom: 141.8034%;
        }

        .ads & {
            margin-bottom: 210px; // height of ad space
        }
    }

    @include respond-to(mobile) {

        .watchosicongallery & {
          padding-bottom: 121.8034%;
        }

        .icon-container-xlg {
            display: none;
        }

        .icon-container-lg {
            top: 0%;
            left: 0;
            width: 100%;
            height: 61.8034%;
            border: 0;
            border-bottom: 1px solid $color-border-light;
        }

        .icon-container-md {
            top: 61.8034%;
            left: 0%;
            width: 61.8034%;
            height: (100% - 61.8034);
            border: 0;
            border-right: 1px solid $color-border-light;
        }

        .icon-container-sm {
            top: inherit;
            bottom: 0;
            right: 0;
            width: (100% - 61.8034);
            height: (100% - 61.8034);
        }
    }
}

.list-icons__zero-state,
.list-icons__loading{
    text-align: center;
    color: $color-light-light-gray;
    float: none;
    width: 100% !important;
    padding: 3em 2em;
    border: 1px solid $color-border-light;
    border-left: 0;
    border-top: 0;
    background: none !important;
}

.list-icons__zero-state {
    padding: 6em 2em;
}

.list-icons__loading {
    border-top: 1px solid $color-border-light;
    position: relative;
    top: -1px;

    img {
        width: 20px;
        height: 20px;
        margin-right: 6px;
        position: relative;
        top: 3px;
    }
}

.list-icons__label {
    position: absolute;
    width: 150px;
    margin-left: -75px;
    left: 50%;
    bottom: em(5, 12);
    font-size: em(12);
    color: $color-light-light-gray;
}
