.pagination {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__button {
        border: 1px solid $color-dark-gray;
        padding: 7px 15px;
        border-radius: 50px;
        color: inherit;
    }

    span.pagination__button {
        color: $color-light-gray;
        border-color: $color-border;
    }

    a.pagination__button:hover {
        border-color: $color-dark-gray;
        background-color: $color-dark-gray;
        color: white;
    }

    &__jump-to {
        display: flex;
        justify-content: center;
        align-items: center;
        
        @media screen and (max-width: 400px) {
            font-size: 14px;
        }

        select {
            margin: 0 5px;
            -webkit-appearance: none;
            background: #fff;
            border: 0;
            font-size: 1em;
            padding: 3px 12px;
            border: 1px solid $color-dark-gray;
            border-radius: 30px;

            &:hover {
                cursor: pointer;
                background: $color-dark-gray;
                color: white;
            }
        }
    }
}