/* ==========================================================================
   Filters (used in react filter toolbar)
   ========================================================================== */

/* Filters
   ========================================================================== */

.filters {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  padding: 10px;
  min-height: 60px;
  border: 1px solid #f0f0f0;
  border-bottom: 0;

  /* Fixes a bug with the autocomplete dropdown */
  position: relative;
  z-index: 1000;
}

@media screen and (min-width: 900px) {
  .filters {
    flex-direction: row;
  }
}

/* Direct children of the parent flex container */
.filters > * {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.filters input[type="text"] {
  border: 1px solid #e9e9e9;
  border-radius: 4px;
}

.filters-zero-state {
  border: 1px solid #e9e9e9;
  min-height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filters-loading-more {
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Filter tabs
   ========================================================================== */

.filters__radios {
  flex-wrap: wrap;
  margin-right: 20px;
}

.filters__radios > label {
  display: flex;
  align-items: center;
  flex-direction: row;
  text-transform: capitalize;
  padding: 8px 10px 8px 6px;
  border-radius: 4px;
}

.filters__radios .active {
  background: rgba(0, 0, 238, 0.08);
}

/* Filters control
   ========================================================================== */

.filters__control {
  flex-wrap: wrap;
}

@media screen and (max-width: 899px) {
  .filters__control {
    margin-top: 5px;
  }
}

.filters__control input[type="text"] {
  padding: 5px 10px;
}

.filters__control__count {
  opacity: 0.5;
  margin-left: 20px;
  margin-top: 5px;
}

@media screen and (min-width: 600px) {
  .filters__control__count {
    margin-top: 0;
  }
}

.filters__control__autocomplete {
  position: relative;
}

.filters__control__autocomplete select {
  position: absolute;
  left: 0;
  top: 100%;
  width: 120%;
}

/* Filters colors
   ========================================================================== */

.filters__colors {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.filters__colors button {
  width: 24px;
  height: 24px;
  border: 0;
  border-radius: 50%;
  display: block;
  transition: 0.2s ease transform;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
  margin: 2px 4px;
}

.filters__colors button.active {
  transform: scale(1.25);
  box-shadow: 0 0 0 2px #0000ee, inset 0 0 0 2px rgba(255, 255, 255, 1);
}
