/* ==========================================================================
   Footer
   ========================================================================== */

#footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-top: 1px solid #f0f0f0;
  border-bottom: 0;
  padding: 15px 0;
  margin-top: 30px;
}

@media screen and (max-width: 599px) {
  #footer ul {
    text-align: center;
  }
}

@media screen and (min-width: 600px) {
  #footer ul {
    display: flex;
    flex-wrap: wrap;
  }
  #footer ul li:after {
    content: "/";
    margin: 0 12px 0 7px;
  }
  #footer ul li:last-child:after {
    display: none;
  }
}
