//
//
//  Clearfix
//  ==============================
//
@mixin clearfix {
    zoom: 1;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }
}

@mixin inline-block() {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
}

@mixin opacity($val) {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$val * 100})";
    opacity: $val;
}

@mixin external-link() {
    content: '\2192';
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    @include inline-block();
    font-size: .75em;
}

.clearfix {
    @include clearfix;
}

//
//
//  PX to EM conversion
//  ==============================
//
@function em($px, $context: $font-size-base) {
    @return #{$px / $context}em;
}

//
//
//  Inline Block
//  ==============================
//
@mixin inline-block {
    display: -moz-inline-stack; // ff 2
    display: inline-block;
    zoom:1; *display: inline; _height: 15px; // ie 6-7
}

@mixin respond-to($media) {
    @if $media == mobile {
        @media only screen and (max-width: 620px) { @content; }
    }
    @else if $media == tablet {
        @media only screen and (max-width: 850px) { @content; }
    }
    @else if $media == desktop {
        @media only screen and (max-width: 1100px) { @content; }
    }
}
