/*

Fonts
========================================

*/
@font-face {
    font-family: 'icongallery';
    src:url('../fonts/icongallery.eot');
    src:url('../fonts/icongallery.eot?#iefix') format('embedded-opentype'),
        url('../fonts/icongallery.svg#icongallery') format('svg'),
        url('../fonts/icongallery.woff') format('woff'),
        url('../fonts/icongallery.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Use the following CSS code if you want to have a class per icon */
[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: 'icongallery';
    font-style: normal;
    speak: none;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    margin-right: 5px;
}
.icon-arrow-up-alt1:before {
    content: "\73";     // s
}
.icon-twitter:before {
    content: "\74";     // t
}
.icon-category:before {
    content: "\63";     // c
}
.icon-search:before {
    content: "\6d";     // m
}
.icon-new-tab:before {
    content: "\21";     // !
    font-size: 15px;
}
.icon-feed:before {
    content: "\72";     // r
}