/*

Header
========================================

*/
.header {
    line-height: 30px; // height of #logo
    padding: 1.5em 0;
    margin-bottom: 0em;

    .logo-link {
        float: left;
        margin-top: (5em / $font-size-base);

        .logo {
            display: block;
            width: 180px;
            height: 30px;
        }
    }

    nav {
        float: right;
        position: relative;
        margin-top: em(5);

        a {
            font-size: em(16);
            display: block;
            @include opacity(.45);

            &.i:before {
                position: relative;
                top: 3px;
                left: -4px;
            }

            &.active {
                padding: 0 em(12) 0 em(16);
                background-color: #e9f6fc;
                border-radius: 2px;
            }
        }
    }
}

.navigation {
    margin: 2em 0;
    text-align: center;
}
