/*

Header
========================================

*/
.header {
    padding: 1.5em 0 1em;
    margin-bottom: 0em;

    @media screen and (max-width: 600px) {
        padding: .5em 0;
    }

    h1 {
        float: left;
        position: relative;
        
        > a,
        .logo {
            line-height: em(50);
            vertical-align: middle;
        }

        @media screen and (max-width: 600px) {
            .logo {
                max-width: 270px;
            }
        }
    }

    nav {
        float: right;
        position: relative;
        font-size: #{14 / $font-size-base}em;
        margin-top: 1em;

        li {
            float: left;
            margin-left: 1em;

            a {
                color: $color-light-gray;
            }
        }
    }
}

/*
    Dropdown
*/
.dropdown {
    float: right;
    position: relative;

    @media screen and (max-width: 600px) {
        position: static;
    }
}

.dropdown__trigger {
    line-height: em(35);
    height: em(35);
    width: em(35);
    margin-top: em(15, 11); // height (35) + 15 = 50 (line height of logo)
    font-size: em(11);
    @include inline-block();
    text-align: center;
    margin-left: em(10);
    color: $color-light-light-gray;

    &:hover {
        text-decoration: none;
        color: $color-dark-gray;
    }

    .dropdown--active & {
        text-decoration: none;
        border: 1px solid $color-light-light-gray;
        color: $color-dark-gray;
        border-radius: 2px;
    }
}

.dropdown__content {
    display: none;
    box-shadow: 0 4px 8px rgba(0,0,0,.2);
    border-radius: 2px;
    border: 1px solid $color-border;
    padding: 10px;
    width: 300px;
    margin-left: -150px;
    left: 50%;
    background: #fff;
    z-index: 10;
    position: absolute;

    @media screen and (max-width: 600px) {
        left: 0;
        margin-left: 0;
    }

    li a {
        display: block;
        padding: em(10);
        position: relative;
        border-radius: 2px;

        &.external-link:after {
            @include external-link();
            float: right;
            color: $color-light-light-gray;
        }

        &:hover {
            background: $color-border-light;
            text-decoration: none;
        }
    }

    .logo {
        max-height: 20px;
    }

    .dropdown--active & {
        display: block;
    }
}