/*

Header
========================================

*/
.header {
    line-height: 30px; // height of #logo
    padding: 1.5em 0;
    margin-bottom: 0em;

    h1 {
        float: left;
        
        a, 
        img {
            line-height: em(50);
            vertical-align: middle;
        }
    }

    nav {
        float: right;
        position: relative;
        margin-top: em(7);

        a {
            font-size: em(16);
            display: block;
            width: 36px;
            height: 36px;
            line-height: 36px;
            border: 1px solid $color-border;
            text-align: center;
            border-radius: 2px;

            &:hover {
                background: #e9f6fc;
                border-color: lighten($color-link, 25%);
            }

            &.i:before {
                position: relative;
                top: 1px;
                left: 0px;
            }

            &.active {
                background-color: #e9f6fc;
                border-color: lighten($color-link, 25%);
            }
        }
    }
}

.navigation {
    margin: 2em 0;
    text-align: center;
}
