/*

Icon Meta (list)
========================================
Meta info like designer, developer, category

Markup
----------------------------------------
<h1 Name
<dl
    <dt>Attr
    <dd>Value

*/
.icon-meta {

    margin-top: em(10);

    .icon-meta__left {
        margin-right: em(5);
        width: em(175);
        float: left;
        color: $color-light-gray;
    }

    .icon-meta__right {
        margin-right: em(20);
        overflow: hidden;
    }

    a {
        color: inherit;
        text-decoration: underline;

        &:hover {
            color: $color-link;
        }
    }

    .external-link {
        &:after {
            content: '\2192';
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
            @include inline-block();
            font-size: .75em;
            position: relative;
            top: -.1em;
            left: .2em;
        }
    }

}
