/*

Icon Meta (list)
========================================
Meta info like designer, developer, category

Markup
----------------------------------------
<h1 Name
<dl
    <dt>Attr
    <dd>Value

*/
.icon-meta {
    margin-right: 250px; /* account for ads on the right */
    margin-top: em(10);

    .icon-meta__left {
        margin-right: em(5);
        float: left;
    }

    .icon-meta__right {
        margin-right: em(20);
        overflow: hidden;
    }

    .external-link {
        &:after {
            @include external-link();
            position: relative;
            top: -.1em;
            left: .2em;
        }
    }

    a {
        color: inherit;
        text-decoration: underline;

        &:hover {
            color: $color-link;
        }
    }
}


