/*

Masks
========================================
Masks are used to hide iOS icons.
Put mask size on element

<span.mask.mask-128


*/

//
//
//  Mask Sizes
//  ----------------------------------------
//  $icon-sizes list defined in _variables.scss
//
@each $mask-size in $icon-sizes {

    .mask-#{$mask-size} {
        background: url(/assets/img/mask-#{$mask-size}.png) no-repeat;
        width: #{$mask-size}px;
        height: #{$mask-size}px;
        margin-top: #{$mask-size / -2}px;
        margin-left: #{$mask-size / -2}px;
    }

    @media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 2) {
        background-size: 100%;
        background: url(/assets/img/mask-#{$mask-size * 2}.png) no-repeat;
    }
}

//
//
//  Mask
//  ----------------------------------------
//  Generic mask class
//
.mask {
    position: absolute;
    top: 50%;
    left: 50%;
}