/*

Media Queries
========================================
All media queries are based on functions.
So any overrides must go in this file, as we don't know the exact queries.

Default is the main width. +1, -1, etc are up and down one in the wrapper width

*/

@function breakpoint-width($count) {
    @return ($icon-container-width * $count)  + 60;
}
@function wrapper-width($count) {
    @return ($icon-container-width * $count)  + 1;
}

//
//
//  Default
//  ------------------------------
//
.wrapper {
    width: wrapper-width(3px);
}

//
//
//  Deafult +1
//  ------------------------------
//
@media screen and (min-width: breakpoint-width(4px) ) {

    //
    //  Wrapper
    //  --------
    .wrapper {
        width: wrapper-width(4px);
    }

    //
    //  List Icon Sizes
    //  ----------------
    .list-icon-sizes {
        text-align: center;

        li {
            margin: 25px;
            @include inline-block;
            float: none;

            // override
            top: 0 !important;
            left: 0 !important;

            // Make larger on retina to compensate for smaller icons
            // @media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 2) {
            //     margin: 75px;
            // }
        }
    }

    // Make category list 4 column
    .category-list {
        li a {
            width: 25%;
        }
    }
}

//
//
//  Deafult +2
//  ------------------------------
//
// @media screen and (min-width: breakpoint-width(5px) ) {

//     //
//     //  Wrapper
//     //  --------
//     .wrapper {
//         width: wrapper-width(5px);
//     }

//     //
//     //  List Icon Sizes
//     //  ----------------
//     .list-icon-sizes {
//         li {
//             margin: 50px;
//         }
//     }

//     // Make category list 5 column
//     .category-list {
//         li a {
//             width: 20%;
//         }
//     }
// }


//
//
//  Deafult -1
//  ------------------------------
//
@media screen and (max-width: breakpoint-width(3px) ) {

    //
    //  Wrapper
    //  --------
    .wrapper {
        width: wrapper-width(2px);
    }

    //
    //  List Icon Sizes
    //  ----------------
    .list-icon-sizes {
        li {
            margin: 20px;
        }
        .icon-container-lg {
            display: none;
        }
    }

    //
    //  Icon Meta
    //  ----------------
    .icon-meta {
        margin-right: 0; /* ads get bumped below, so no need for this */
    }


    //
    //  Featured Icons
    //  -----
    .list-icons--featured {
        padding-bottom: 161.8034%;

        .ads & {
            margin-bottom: 210px; // height of ad space
        }

        .icon-container-xlg {
            top: 0;
            left: 0;
            width: 100%;
            height: 61.8034%;
            border: 0;
            border-bottom: 1px solid $color-border-light;
        }

        .icon-container-lg {
            top: 61.8034%;
            left: 0;
            width: 61.8034%;
            height: (100 - 61.8034%);
            border: 0;
            border-right: 1px solid $color-border-light;
        }

        .icon-container-md {
            top: 61.8034%;
            left: 61.8034%;
            width: (100% - 61.8034);
            height: (100 - 61.8034) * (.618034%);
            border: 0;
            border-bottom: 1px solid $color-border-light;
        }

        .icon-container-sm {
            top: inherit;
            bottom: 0;
            right: 0;
            width: (100% - 61.8034);
            height: (100 - 61.8034) * (1 - .618034%);
        }

        .icon-container--ad {
            text-align: center;
            width: 100%;
            border: 1px solid $color-border-light;
            border-top: 0;
            padding: 20px 10px 10px;
        }
    }
}

//
//
//  Deafult -2
//  ------------------------------
//
@media screen and (max-width: breakpoint-width(2px) ) {

    //
    //  Wrapper
    //  --------
    .wrapper {
        width: wrapper-width(1px);
    }

    //
    //  List Icon Sizes
    //  ----------------
    .list-icon-sizes {
        .icon-container-512,
        .icon-container-56 {
            display: none;
        }
        .icon-container-256 {
            @include inline-block();
        }
    }

    //
    //  Featured Icons
    //  -----
    .list-icons--featured {
        padding-bottom: 161.8034%;

         .icon-container-xlg {
            display: none;
        }

        .icon-container-lg {
            top: 0%;
            left: 0;
            width: 100%;
            height: 61.8034%;
            border: 0;
            border-bottom: 1px solid $color-border-light;
        }

        .icon-container-md {
            top: 61.8034%;
            left: 0%;
            width: 61.8034%;
            height: (100% - 61.8034);
            border: 0;
            border-right: 1px solid $color-border-light;
        }

        .icon-container-sm {
            top: inherit;
            bottom: 0;
            right: 0;
            width: (100% - 61.8034);
            height: (100% - 61.8034);
        }
    }

    #searchform {
        margin-left: auto;
        margin-right: auto;
        margin-top: 1em;
    }

    // Make category list 1 column
    .category-list {
        li a {
            width: 100%;
            float: none;
        }
    }

    //
    //  Page Navigation
    //  ----------------
    .wp-pagenavi {
        .page,
        .current,
        .extend,
        .last,
        .first {
            display: none;
        }
    }

    //
    //  Contact Form
    //  -------------
    #contact-form {
        padding: 1.5em;
    }

    //
    //  Icon Meta
    //  -----
    .icon-meta {
        .icon-meta__left {
            float: none;
            display: block;
            font-size: em(14);
            line-height: 1;
            margin-top: 1em;
        }
    }
}
