//
//  Fonts
//  ------------------------------
$font-size-base:            16;
$font-family:               "Helvetica Neue", Helvetica, Arial, sans-serif;
//
//  Colors
//  ------------------------------

// Text
$color-light-light-gray:    #bbb;
$color-light-gray:          #999;
$color-medium-gray:         #777;
$color-dark-gray:           #444;
$color-red:                 #A80000;
$color-green:               #00a800;

// Borders
$color-border:              #e9e9e9;
$color-border-light:        #f3f3f3;
$color-border-dark:         #ddd;

// Link
$color-link:                #08c;


//
//  Icon Stuff
//  ------------------------------
//
$list-icon-size:            128px;


//
//  Lists
//  ------------------------------
//
$icon-sizes:                512 256 128 64 32;
$url-img:                   "../img";
