<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        {% if page.title %}
            {{ page.title }} | {{ site.title }}
        {% else %}
            {{ site.title }}
        {% endif %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- Favicon & Touch Icon -->
    <link rel="icon" href="{{ site.baseurl }}/{{ site.assets.images }}/{{ site.theme.active }}-favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="{{ site.baseurl }}/{{ site.assets.images }}/{{ site.theme.active }}-favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="{{ site.baseurl }}/{{ site.assets.images }}/{{ site.theme.active }}-apple-touch-icon.png">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/{{ site.assets.styles }}/styles.css">

    <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- RSS Feed -->
    <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://feeds.feedburner.com/{{ site.theme.active }}" />

</head>
<body class="{{ site.theme.active }}">

    <header class="header">
        <div class="wrapper clearfix">
            <h1>
                <a class="logo" href="{{ site.baseurl }}/" title="{{ site.title }}" rel="home">
                    {% capture logoUrl %}{{ site.baseurl }}/{{ site.assets.images }}/{{ site.theme.active }}-logo{% endcapture %}
                    <img src="{{ logoUrl }}.svg" onerror="this.onerror=null; this.src='{{ logoUrl }}.png'" />
                </a>
                <div class="dropdown">
                    <a class="dropdown__trigger" href="#">&#9660;</a>
                    <ul class="dropdown__content">
                        {% for website in site.theme.inactive %}
                            {% capture logoUrl %}{{ site.baseurl }}/{{ site.assets.images }}/{{ website }}-logo{% endcapture %}
                            <li>
                                <a href="http://{{ website }}.com" class="external-link">
                                    <img class="logo" src="{{ logoUrl }}.svg" onerror="this.onerror=null; this.src='{{ logoUrl }}.png'" />
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </h1>
            <nav role="navigation">
                <a href="{{ site.baseurl }}/search/" class="i i--search {% if page.title == 'Search' %}active{% endif %}"></a>
            </nav>
        </div>
    </header>

    <section class="wrapper">
        {{ content }}
    </section>

    <footer id="footer">
        <div class="wrapper clearfix">
            <ul id="footer-nav">
                <li class="i i--submit">
                    <!-- mailto encoder: http://email.about.com/library/misc/blmailto_encoder.htm -->
                    <a href="mailto:jimniels%40gmail.com?subject={{ site.theme.active }}.com%20icon%20suggestion%3A&body=I%20want%20to%20recommend%20a%20beautiful%20icon%20for%20an%20app%3A%0A%0AApp%20store%20URL%3A%0AIcon%20designer%20%26%20portfolio%20URL%3A" id="submit">submit an icon</a>
                </li>
                <li class="i i--twitter">
                    <a href="http://twitter.com/iosicongallery">follow updates on twitter</a>
                </li>
                <li class="i i--feed">
                    <a href="http://feeds.feedburner.com/{{ site.theme.active }}">subscribe to rss feed</a>
                </li>
            </ul>
            <ul id="footer-description">
                <li>design, &lt;code>, &amp; curation by <a href="http://twitter.com/jimniels">@jimniels</a></li>
                <li>
                    see more great icons at
                    {% for site in site.theme.inactive %}
                        <a href="http://{{ site }}.com">{{ site }}.com</a>
                        {% unless forloop.last %} and {% endunless %}
                    {% endfor %}
                </li>
            </ul>
        </div>
    </footer>

    <!-- Scripts -->
    <script type="text/javascript">
        // This is the only script need on every page
        // so I'm just including it here
        // It controls the dropdown in the header
        var el = document.querySelector('.dropdown__trigger');
        el.addEventListener('click', function(e){
            e.stopPropagation();
            toggleClass(this.parentNode, 'dropdown--active');
        });
        var body = document.getElementsByTagName('body');
        body[0].addEventListener('click', function(e){
            removeClass(el.parentNode, 'dropdown--active');
        });
        function removeClass(el, className){
            if (el.classList){
                el.classList.remove(className);
            } else {
                el.className = el.className.replace(new RegExp('(^|\\b)' + className.split(' ').join('|') + '(\\b|$)', 'gi'), ' ');
            }
        }
        function toggleClass(el, className){
            if (el.classList) {
                el.classList.toggle(className);
            } else {
                var classes = el.className.split(' ');
                var existingIndex = classes.indexOf(className);

                if (existingIndex >= 0){
                    classes.splice(existingIndex, 1);
                } else {
                    classes.push(className);
                    el.className = classes.join(' ');
                }
            }
        }
    </script>
    <script type="text/javascript" src="{{site.baseurl}}/{{ site.assets.scripts }}/retina.js"></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.theme.analytics_key }}', 'auto');
        ga('send', 'pageview');
    </script>
</body>
</html>
