---
layout: default
---
{% assign post = page %}

<article>

    {% comment %} Icon Sizes {% endcomment %}
    <ul class="list-icons list-icons--featured">
        <li class="icon-container-512">
            {% include icon.html icon-size="512" %}
        </li>
        <li class="icon-container-256">
            {% include icon.html icon-size="256" %}
        </li>
        <li class="icon-container-128">
            {% include icon.html icon-size="128" %}
        </li>
        <li class="icon-container-64">
            {% include icon.html icon-size="64" %}
        </li>
    </ul>

    {% comment %} Header {% endcomment %}
    <header class="icon-meta">

        {% comment %} App Name {% endcomment %}
        <h1 class="bold">
            <span class="icon-meta__left">App Name:</span>
            {% if post.itunes-url %}
                <a href="{{ post.itunes-url}}" class="icon-meta__right external-link">{{ post.title }}</a>
            {% else %}
                <span class="icon-meta__right">{{ post.title }}</span>
            {% endif %}
        </h1>

        {% comment %} Icon Meta {% endcomment %}
        <dl>
            {% comment %} Icon Designer {% endcomment %}
            {% if post.icon-designer %}
                <dt class="icon-meta__left">Icon Designer:</dt>
                <dd class="icon-meta__right">
                    {% if post.icon-designer-url %}
                        <a href="{{ post.icon-designer-url }}" class="external-link">{{ post.icon-designer }}</a>
                    {% else %}
                        {{ post.icon-designer }}
                    {% endif %}
                </dd>
            {% endif %}

            {% comment %} App Developer {% endcomment %}
            {% if post.app-developer %}
                <dt class="icon-meta__left">App Developer:</dt>
                <dd class="icon-meta__right">
                    {% if post.app-developer-url %}
                        <a href="{{ post.app-developer-url }}" class="external-link">{{ post.app-developer }}</a>
                    {% else %}
                        {{ post.app-developer}}
                    {% endif %}
                </dd>
            {% endif %}

            {% comment %} Category {% endcomment %}
            {% if post.category %}

                {% comment %} Get the Category's Nice Name {% endcomment %}
                {% for category in site.data.categories %}
                    {% if category.slug == post.category %}
                        {% assign categoryNiceName = category.nicename %}
                    {% endif %}
                {% endfor %}

                <dt class="icon-meta__left">Category:</dt>
                <dd class="icon-meta__right">{{ categoryNiceName }}</dd>

            {% endif %}

            {% comment %} Post Date {% endcomment %}
            {% if post.category %}

                {% comment %} Get the Category's Nice Name {% endcomment %}
                {% for category in site.data.categories %}
                    {% if category.slug == post.category %}
                        {% assign categoryNiceName = category.nicename %}
                    {% endif %}
                {% endfor %}

                <dt class="icon-meta__left">Post Date:</dt>
                <dd class="icon-meta__right">{{ post.date | date: "%b %d, %Y" }}</dd>

            {% endif %}
        </dl>
    </header>
</article>

{% comment %} Sidebar Related Posts {% endcomment %}
<aside class="module related" id="related-iconss">
    <h2>Related Icons in Category “{{ categoryNiceName }}”</h2>
    <ul class="list-icons">

        {% comment %}
            `x | rand_array` returns the following:
                - array with a length of x
                - array with unique,random values no larger than x
            Then we loop over that array giving us random posts.
            We don't display more than `limit`
            And we dont' display less than however many related posts are in the cat
        {% endcomment %}
        {% assign posts_in_cat = site.categories.[page.category] | size %}
        {% assign post_indicies = posts_in_cat | rand_array %}

        {% assign limit = 0 %}
        {% for i in post_indicies %}
            {% assign post = site.categories.[page.category][i] %}

            {% if post != nil and post.title != page.title %}
                {% assign limit = limit | plus:1 %}
                {% if limit <= 12 %}
                    <li>
                        <a href="{{ post.url }}" class="icon-container">
                            {% include icon.html icon-size="128" %}
                        </a>
                    </li>
                {% endif %}
            {% endif %}

        {% endfor %}


        {% comment %}



        {% assign k = 0 %}
        {% for i in (1..13) %}
            {% assign length = site.categories.[page.category] | size %}
            {% assign rand = 0 | random:length %}
            {% assign post = site.categories.[page.category][rand] %}

            {% if post != nil and post.title != page.title %}
                {% assign k = k | plus:1 %}
                {% if k <= 12 %}
                    <li>
                        <a href="{{ post.url }}" class="icon-container">
                            {% include icon.html icon-size="128" %}
                        </a>
                    </li>
                {% endif %}
            {% endif %}

        {% endfor %}




         Conditionally show ad

    {% for post in site.categories.[page.category] | limit:50 %}

            {% if post.title != page.title %}
                <li>
                    <a href="{{ post.url }}" class="icon-container">
                        {% include icon.html icon-size="128" %}
                    </a>
                </li>
            {% endif %}
        {% endfor %}


                <li class="icon-container ad-container">
                    <?php insert_ad() ?>
                </li>
        {% endcomment %}
    </ul>
</aside>
<script type="text/javascript" src="/shared-resources/js/jquery.js"></script>
<script type="text/javascript" src="/shared-resources/js/scriptss.js"></script>
