---
layout: default
---
{% assign post = page %}

<article>

    {% comment %} Icon Sizes {% endcomment %}
    <ul class="list-icons list-icons--featured">
        <li class="icon-container-xlg">
            {% if site.theme.active != 'watchosicongallery' %}
                {% include icon.html icon-size="512" %}
            {% else %}
                {% include icon.html icon-size="256" %}
            {% endif %}
        </li>
        <li class="icon-container-lg">
            {% if site.theme.active != 'watchosicongallery' %}
                {% include icon.html icon-size="256" %}
            {% else %}
                {% include icon.html icon-size="128" %}
            {% endif %}
        </li>
        <li class="icon-container-md">
            {% if site.theme.active != 'watchosicongallery' %}
                {% include icon.html icon-size="128" %}
            {% else %}
                {% include icon.html icon-size="64" %}
            {% endif %}
        </li>
        <li class="icon-container-sm">
            {% if site.theme.active != 'watchosicongallery' %}
                {% include icon.html icon-size="64" %}
            {% else %}
                {% include icon.html icon-size="32" %}
            {% endif %}
        </li>
        {% if site.theme.ad_script %}
            <li class="icon-container icon-container--ad">
                {{ site.theme.ad_script }}
            </li>
        {% endif %}
    </ul>

    {% comment %} Header {% endcomment %}
    <header class="icon-meta">

        {% comment %} App Name {% endcomment %}
        <h1 class="bold">
            <span class="icon-meta__left">App Name:</span>
            {% comment %} Add query string `?at=XXXX` for affliate linking {% endcomment %}
            {% if post.itunes-url %}
                <a href="{{ post.itunes-url}}?at=1l3vtCx" class="icon-meta__right external-link">{{ post.title }}</a>
            {% else %}
                <span class="icon-meta__right">{{ post.title }}</span>
            {% endif %}
        </h1>

        {% comment %} Icon Meta {% endcomment %}
        <dl>
            {% comment %} Icon Designer {% endcomment %}
            {% if post.icon-designer %}
                <dt class="icon-meta__left">Icon Designer:</dt>
                <dd class="icon-meta__right">
                    {% if post.icon-designer-url %}
                        <a href="{{ post.icon-designer-url }}" class="external-link">{{ post.icon-designer }}</a>
                    {% else %}
                        {{ post.icon-designer }}
                    {% endif %}
                </dd>
            {% endif %}

            {% comment %} App Developer {% endcomment %}
            {% if post.app-developer %}
                <dt class="icon-meta__left">App Developer:</dt>
                <dd class="icon-meta__right">
                    {% if post.app-developer-url %}
                        <a href="{{ post.app-developer-url }}" class="external-link">{{ post.app-developer }}</a>
                    {% else %}
                        {{ post.app-developer}}
                    {% endif %}
                </dd>
            {% endif %}

            {% comment %} Category {% endcomment %}
            {% if post.category %}

                {% comment %} Get the Category's Nice Name {% endcomment %}
                {% for category in site.data.categories %}
                    {% if category.id == post.category %}
                        {% assign category = category.name %}
                        {% assign categoryId = category.id %}
                    {% endif %}
                {% endfor %}

                <dt class="icon-meta__left">Category:</dt>
                <dd class="icon-meta__right">
                    <a href="/search/?category={{ categoryId }}">
                        {{ category }}
                    </a>
                </dd>
            {% endif %}

            {% comment %} Tags {% endcomment %}
            {% if post.tags.size > 0 %}
                <dt class="icon-meta__left">
                    {% if post.tags.size > 1 %}
                        Colors:
                    {% else %}
                        Color:
                    {% endif %}
                </dt>
                <dd class="icon-meta__right">
                {% for tag in post.tags %}
                    <a href="/search/?color={{tag}}">{{ tag }}</a>{% if forloop.last != true %},{% endif %}
                {% endfor %}
                </dd>
            {% endif %}

            {% comment %} Post Date {% endcomment %}
            {% if post.date %}
                <dt class="icon-meta__left">Post Date:</dt>
                <dd class="icon-meta__right">{{ post.date | date: "%b %d, %Y" }}</dd>
            {% endif %}
        </dl>
    </header>
</article>

{% comment %}
    Sidebar Related Posts
    Prep info needed for react to render related icons
{% endcomment %}
{% for category in site.data.categories %}
    {% if category.id == page.category %}
        {% assign categoryId = category.id %}
        {% assign categoryName = category.name %}
    {% endif %}
{% endfor %}
<aside
    class="module related"
    id="related-icons"
    data-category-id="{{ categoryId }}"
    data-category-name="{{ categoryName }}"
    data-post-name="{{ post.title }}">
        <span class="loading"></span>
</aside>
